name: "Intouch2-MQTT"
description: "A bridge between intouch2, used in spa systems, and MQTT 3.3"
version: "0.1.229"
slug: "intouch2-mqtt"
init: false
arch:
  - aarch64
  - amd64
  - armv7
stage: experimental
image: ghcr.io/ofenhed/{arch}-intouch2-mqtt
ports:
  10022/udp: 10022
ports_description:
  10022/udp: "Port for forwarding (and sniffing) traffic to the Spa system"
services:
  - "mqtt:need"
advanced: true
schema:
  spa_target: str
  spa_id: str
  spa_memory_size: int(1,65535)
  spa_udp_timeout: int(1,600)?
  spa_handshake_timeout: int(1,60)?
  spa_forward_listen_ip: str?
  log_level: list(Off|Error|Warn|Info|Debug|Trace)
  dump_traffic: bool?
  memory_changes_mqtt_topic: str?
  package_dump_mqtt_topic: str?
  mqtt_target: str?
  mqtt_username: str?
  mqtt_password: password?
  mqtt_base_topic: str
  mqtt_discovery_topic: str?
  mqtt_availability_topic: str?
  mqtt_home_assistant_status_topic: str?
  sleep_after_mqtt_configuration: float?
  entities_json:
    - str
